<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>xlsx下载</title>
</head>
<!DOCTYPE html>

<body>


<br>
输入网址:<br><br>
<input class="input-box" type="text">
<br><br>
<p>请确认该文件的爬虫程序已完成!</p>
<br>
<input type="button" onclick="download()" value="点我下载xlsx统计表格文件">


<p class="content"></p>
<script src="/static/jquery-3.3.1.js"></script>
<script>

		function download(){



		    const content = document.querySelectorAll('.content')[0],
		          inputBox = document.querySelectorAll('.input-box')[0];
			// 获取input输入框中的值

			let inputVal = inputBox.value;
            if(inputVal){
                var reg1=/productId=(\d+)/;
                var reg2=/(\d+)\.html/;
                var result = inputVal.match(reg1);
                if(result){
                    var res = result[0].split("=")[1]
                }else{
                    var result = inputVal.match(reg2);
                    var res = result[0].split(".")[0]
                }

				content.innerHTML = res;
				var r=confirm("请确认该文件的爬虫程序已完成!");
                if (r==true)
                {
                    checkFiles (res, inputVal);
                }
                else
                {
                    alert("取消下载");
                }


			}else{
				alert('请在input输入框中填点东西');
			}
		}
		function checkFiles (res, inputVal){
            $.ajax({
                url: "http://124.173.70.94:8088/get",//
                type:"POST",
                data:{"res":res+".zip"},
                success: function(response){
                    console.log(response);
                    status = response.status;
                    if(response.status){
                        clearInterval(timeId);
                        window.open('http://124.173.70.94:8088/download-xlsx/files/'+res+'.xlsx');

                        <!--window.open('http://124.173.70.94:8088/download/files/'+res+'.zip');-->
                        <!--window.location.href="http://124.173.70.94:8088/download/files/'+res+'.zip";-->

                    }
                    else{
                        var r=confirm("文件不存在,是否爬取数据?");
                        if (r==true)
                        {
                            schedule({"project":"Statistics","spider":"statistic","url":inputVal},res);

                        }
                        else
                        {
                            alert("取消");
                        }
                    }
                    //if(callback)callback(response);
                },
                error: function(err){
                    console.log(err)
                    //if(failure)failure(err);
                },
            });

        }
        function schedule(param,res){


                $.ajax({
                    url: "http://124.173.70.94:6800/schedule.json",
                    type:"POST",
                    data:param,
                    success: function(response){
                        console.log(response);
                        loadPage(res);
                        //if(callback)callback(response,param,tempData);
                    },
                    error: function(err){
                        console.log(err)
                        //if(failure)failure(err);
                    },
                });
        }
        var timeId;
        function loadPage(res){
            timeId=setInterval(checkStatus,10000,res);
        }
        function checkStatus (res){
            $.ajax({
                url: "http://124.173.70.94:8088/get",//
                type:"POST",
                data:{"res":res+".zip"},
                success: function(response){
                    console.log(response);
                    if(response.status){

                    }
                    else{
                        clearInterval(timeId);
                        content.innerHTML = res;
                        var r=confirm("爬虫程序已完成!是否下载文件?");
                        if (r==true)
                        {
                            window.open('http://124.173.70.94:8088/download/files/'+res+'.xlsx');
                        }
                        else
                        {
                            alert("取消下载");
                        }
                        <!--window.open('http://124.173.70.94:8088/download/files/'+res+'.zip');-->
                        <!--window.location.href="http://124.173.70.94:8088/download/files/'+res+'.zip";-->

                    }
                    //if(callback)callback(response);
                },
                error: function(err){
                    console.log(err)
                    //if(failure)failure(err);
                },
            });

        }

	</script>
</body>
</html>