
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>统计文件获取</title>
</head>
<!DOCTYPE html>

<body>


<br>
输入网址:<br><br>
<input class="input-box" type="text">
<br><br>
<input id="w" type="button" value="提交" onclick="getInputVal()">
<br><br>
<p></p>
<br><br>



<p class="content"></p>
<script src="/static/jquery-3.3.1.js"></script>
<script>
		function getInputVal(){
			const inputBox = document.querySelectorAll('.input-box')[0],
				  content = document.querySelectorAll('.content')[0];
			// 获取input输入框中的值

			let inputVal = inputBox.value;
            let url = inputBox.value;
            let remind = "爬虫正在运行,请不要关闭页面,爬虫运行完会自动下载";
			if(inputVal){
                schedule({"project":"Statistics","spider":"statistic","url":inputVal});

				content.innerHTML = remind;

                var reg1=/productId=(\d+)/;
                var reg2=/(\d+)\.html/;
                var result = inputVal.match(reg1);
                if(result){
                    var res = result[0].split("=")[1]
                }else{
                    var result = inputVal.match(reg2);
                    var res = result[0].split(".")[0]
                }

                loadPage(res);

			}else{
				alert('请在input输入框中填点东西');
			}
		}



		function schedule(param){


                $.ajax({
                    url: "http://124.173.70.94:6800/schedule.json",
                    type:"POST",
                    data:param,
                    success: function(response){
                        console.log(response);
                        //if(callback)callback(response,param,tempData);
                    },
                    error: function(err){
                        console.log(err)
                        //if(failure)failure(err);
                    },
                });
        }


        var timeId;
	    var status;
        function loadPage(res){
            timeId=setInterval(checkStatus,10000,res);
        }

        function checkStatus (res){
            status = true;
            $.ajax({
                url: "http://124.173.70.94:8088/get",//
                type:"POST",
                data:{"res":res+".t"},
                success: function(response){
                    console.log(response);
                    status = response.status;
                    if(response.status){

                    }
                    else{
                        clearInterval(timeId);
                        dl(res);
                        alert("数据抓取完成，已经自动下载");
                    }
                    //if(callback)callback(response);
                },
                error: function(err){
                    console.log(err)
                    //if(failure)failure(err);
                },
            });

        }

        function dl(res){
            var a = document.createElement('a');
            a.href = 'http://124.173.70.94:8088/download/files/'+res+'.zip';
            a.download = res+".zip";
            a.click();
        }

	</script>
</body>
</html>

