<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>统计文件获取</title>-->
<!--</head>-->
<!--<!DOCTYPE html>-->

<!--<body>-->


<!--<br>-->
<!--输入网址:<br><br>-->
<!--<input class="input-box" type="text">-->
<!--<br><br>-->
<!--<input id="w" type="button" value="提交" onclick="getInputVal()">-->
<!--<br><br>-->
<!--<p>状态:</p>-->
<!--<br><br>-->
<!--<input type="button" onclick="download()" value="点我下载文件">-->


<!--<p class="content"></p>-->
<!--<script src="/static/jquery-3.3.1.js"></script>-->
<!--<script>-->
		<!--function getInputVal(){-->
			<!--const inputBox = document.querySelectorAll('.input-box')[0],-->
				  <!--content = document.querySelectorAll('.content')[0],-->
                  <!--a= document.querySelectorAll('a')[0];-->
			<!--// 获取input输入框中的值-->

			<!--let inputVal = inputBox.value;-->
            <!--let url = inputBox.value;-->
			<!--if(inputVal){-->
				<!--content.innerHTML = inputVal;-->


                <!--schedule({"project":"Statistics","spider":"statistic","url":inputVal});-->

			<!--}else{-->
				<!--alert('请在input输入框中填点东西');-->
			<!--}-->
		<!--}-->
		<!--function download(){-->

		    <!--const content = document.querySelectorAll('.content')[0],-->
		          <!--inputBox = document.querySelectorAll('.input-box')[0];-->
			<!--// 获取input输入框中的值-->

			<!--let inputVal = inputBox.value;-->
            <!--if(inputVal){-->
                <!--var reg1=/productId=(\d+)/;-->
                <!--var reg2=/(\d+)\.html/;-->
                <!--var result = inputVal.match(reg1);-->
                <!--if(result){-->
                    <!--var res = result[0].split("=")[1]-->
                <!--}else{-->
                    <!--var result = inputVal.match(reg2);-->
                    <!--var res = result[0].split(".")[0]-->
                <!--}-->

				<!--content.innerHTML = res;-->
		        <!--window.open('http://124.173.70.94:8088/download/files/'+res+'.zip');-->

			<!--}else{-->
				<!--alert('请在input输入框中填点东西');-->
			<!--}-->
		<!--}-->
		<!--function schedule(param){-->
                <!--if(!param || !param.project || !param.spider){-->
                    <!--return daemonstatus();-->
                <!--}-->

                <!--$.ajax({-->
                    <!--url: "http://124.173.70.94:6800/schedule.json",-->
                    <!--type:"POST",-->
                    <!--data:param,-->
                    <!--success: function(response){-->
                        <!--console.log(response)-->
                        <!--//if(callback)callback(response,param,tempData);-->
                    <!--},-->
                    <!--error: function(err){-->
                        <!--console.log(err)-->
                        <!--//if(failure)failure(err);-->
                    <!--},-->
                <!--});-->
            <!--}-->
	<!--</script>-->
<!--</body>-->
<!--</html>-->




<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>统计文件获取</title>
</head>
<!DOCTYPE html>

<body>


<br>
输入网址:<br><br>
<input class="input-box" type="text">
<br><br>
<input id="w" type="button" value="提交" onclick="getInputVal()">
<br><br>
<p></p>
<br><br>
<!--<input type="button" onclick="download()" value="点我下载文件">-->


<p class="content"></p>
<script src="/static/jquery-3.3.1.js"></script>
<script>
		function getInputVal(){
			const inputBox = document.querySelectorAll('.input-box')[0],
				  content = document.querySelectorAll('.content')[0];
			// 获取input输入框中的值

			let inputVal = inputBox.value;
            let url = inputBox.value;
            let remind = "爬虫正在运行,请不要关闭页面,爬虫运行完自动打开下载";
			if(inputVal){
                schedule({"project":"Statistics","spider":"statistic","url":inputVal});

				content.innerHTML = remind;

                var reg1=/productId=(\d+)/;
                var reg2=/(\d+)\.html/;
                var result = inputVal.match(reg1);
                if(result){
                    var res = result[0].split("=")[1]
                }else{
                    var result = inputVal.match(reg2);
                    var res = result[0].split(".")[0]
                }

                loadPage(res);

			}else{
				alert('请在input输入框中填点东西');
			}
		}

        var timeId;
	    var status;
        function loadPage(res){
            timeId=setInterval(checkStatus,5000,res);
        }

		function schedule(param){


                $.ajax({
                    url: "http://124.173.70.94:6800/schedule.json",
                    type:"POST",
                    data:param,
                    success: function(response){
                        console.log(response);
                        //if(callback)callback(response,param,tempData);
                    },
                    error: function(err){
                        console.log(err)
                        //if(failure)failure(err);
                    },
                });


        }


		function download(res){

		    <!--const content = document.querySelectorAll('.content')[0],-->
		          <!--inputBox = document.querySelectorAll('.input-box')[0];-->
			<!--// 获取input输入框中的值-->

			<!--let inputVal = inputBox.value;-->
            <!--if(inputVal){-->
                <!--var reg1=/productId=(\d+)/;-->
                <!--var reg2=/(\d+)\.html/;-->
                <!--var result = inputVal.match(reg1);-->
                <!--if(result){-->
                    <!--var res = result[0].split("=")[1]-->
                <!--}else{-->
                    <!--var result = inputVal.match(reg2);-->
                    <!--var res = result[0].split(".")[0]-->
                <!--}-->

				<!--content.innerHTML = res;-->
		        <!--window.open('http://124.173.70.94:8088/download/files/'+res+'.zip');-->

			<!--}else{-->
				<!--alert('请在input输入框中填点东西');-->
			<!--}-->

			<!--window.open('http://124.173.70.94:8088/download/files/'+res+'.zip');-->
		}

        function checkStatus (res){
            status = true;
            $.ajax({
                url: "http://124.173.70.94:8088/get",//
                type:"POST",
                data:{"res":res},
                success: function(response){
                    console.log(response);
                    status = response.status;
                    if(response.status){

                    }
                    else{
                        clearInterval(timeId);
                        alert("爬虫已完成!");
                        window.open('http://124.173.70.94:8088/download/files/'+res+'.zip');
                        <!--window.location.href="http://124.173.70.94:8088/download/files/'+res+'.zip";-->

                    }
                    //if(callback)callback(response);
                },
                error: function(err){
                    console.log(err)
                    //if(failure)failure(err);
                },
            });

        }

	</script>
</body>
</html>

